.editor {
  padding: 10vmin;
  box-sizing: border-box;
  font-size: 2vmin;
  flex-grow: 1;
  height: 100%;
  max-width: calc(100vw - 200px);
}

.CodeMirror {
  font-family: Cascadia Code PL;
  height: 100%;
}
