#editorTabsForm {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: solid var(--border-color) thin;
}

#editorTabList {
  display: contents;
}

.tab-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.tab-label:after {
  content: '';
  display: block;
  margin: 0 0.15rem;
  opacity: 0.5;
}

.tab-label__content {
  max-width: 20ch;
  border-radius: 4px;
  display: block;
  border: solid var(--background) 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.5;
}

.tab-label.checked > .tab-label__content {
  opacity: 1;
}

.tab-label.checked .tab-label__content {
  font-weight: bolder;
  color: var(--highlight);
  text-decoration: none;
  background-color: var(--highlight-background);
  border: solid var(--highlight-background) 0.5rem;
}

.tab-label:focus-within .tab-label__content {
  box-shadow: 0 0 0 1px var(--highlight);
}

#addTabButton {
  background-color: transparent;
  font-size: 1.25rem;
  line-height: 2rem;
  width: 2rem;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  display: inline-grid;
  place-items: center;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: bold;
  flex-shrink: 0;
  border-radius: 50%;
  color: inherit;
}

#addTabButton:hover {
  background: var(--highlight-background);
}

#addTabButton:focus {
  outline: none;
  color: var(--highlight);
  box-shadow: inset 0 0 0 1px var(--highlight);
}
