#slotSelectorForm {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

#slotSelectorList {
  display: flex;
  flex-wrap: wrap;
}

.slot-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.slot-label:after {
  content: '|';
  display: block;
  margin: 0 0.15rem;
  opacity: 0.5;
}

.slot-label__content {
  max-width: 20ch;
  display: block;
  border: solid var(--background) 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.5;
}

.slot-label.checked > .slot-label__content {
  opacity: 1;
}

.slot-label.checked .slot-label__content {
  font-weight: bolder;
  color: var(--highlight);
  text-decoration: none;
}

.slot-label:focus-within .slot-label__content {
  background-color: var(--highlight-background);
  border: solid var(--highlight-background) 0.5rem;
  box-shadow: 0 0 0 1px var(--highlight);
}

#addSlotButton {
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 2em;
  height: 2em;
  line-height: 2.25em;
  flex-shrink: 0;
  border-radius: 50%;
  color: inherit;
}

#addSlotButton:hover {
  background: var(--highlight-background);
}

#addSlotButton:focus {
  outline: none;
  color: var(--highlight);
  box-shadow: inset 0 0 0 1px var(--highlight);
}
