@keyframes wavingHand {
  0% {
    opacity: 0.3;
  }
  2.5% {
    transform: rotateZ(8deg);
  }
  5.0% {
    transform: rotateZ(10deg) translateX(2%);
  }
  7.5% {
    transform: rotateZ(5deg);
  }
  10% {
    transform: rotateZ(0deg) translateX(-2%);
  }
  12.5% {
    transform: rotateZ(8deg);
  }
  15.0% {
    transform: rotateZ(10deg) translateX(2%);
  }
  17.5% {
    transform: rotateZ(5deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(5deg);
  }
  100% {
    opacity: 0.3;
    transform: rotateZ(0deg);
  }
}

#app.loading::after {
  content: '👋';
  position: fixed;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.65em);
  font-size: 30vmin;
  transform-origin: 100% 50%;
  opacity: 0;
  animation: wavingHand linear calc(var(--transition-duration) * 10) infinite;
  animation-delay: var(--transition-duration);
}
