.editor-element--GitHubRepoEditorElement {
  display: inline-block;
  width: calc(100% - 1ch);
  box-sizing: border-box;
  padding: 1rem 1ch;
  margin-bottom: 1ch;
  border: solid 1px var(--border-color);
  border-radius: 4px;
  box-shadow: 1ch 1ch 0 0 var(--shadow-color);
}

.editor-element--GitHubRepoEditorElement h1 {
  font-size: 1em;
  margin: 0;
  display: inline-block;
  border-bottom: 4px solid;
}

.editor-element--GitHubRepoEditorElement ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.editor-element--GitHubRepoEditorElement ul:not(:empty) {
  margin-top: 1rem;
}

.editor-element--GitHubRepoEditorElement li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.editor-element--GitHubRepoEditorElement a {
  white-space: nowrap;
}
