.bookmarks {
  font-size: 0.875rem;
  background: var(--background);
  border-left: var(--link-border-color) solid thin;
  text-align: right;
}

.link {
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  overflow: hidden;

  color: var(--link-color);
  border: solid 1px transparent;
  border-left: none;
  filter: grayscale(1);
  opacity: var(--link-opacity);
}

.link:first-child {
  margin-top: 0.5rem;
}

.link,
.link:visited {
  color: inherit;
}

.link:hover,
.link:active {
  border-color: var(--link-border-color);
  background: linear-gradient(90deg, transparent, var(--link-background-color));
  font-weight: bold;
  filter: grayscale(0);
  opacity: 1;
}

.link-icon {
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  margin-left: 0.5rem;
}

.link-content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(var(--bookmarks-width) - 3rem);
  transition: max-width ease var(--transition-duration);
  will-change: max-width;
}

.heading {
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
  color: var(--title-color);
  margin-right: 0.5rem;
  margin-left: auto;
  font-size: 0.875rem;
  box-sizing: border-box;
  transition: max-width ease var(--transition-duration);
  will-change: max-width;
}

h1.heading {
  font-size: 1rem;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .link-content,
  .heading {
    max-width: 0;
  }

  .bookmarks:hover .link-content,
  .bookmarks:hover .heading {
    max-width: calc(var(--bookmarks-width) - 3rem);
  }
}
