.bookmarks {
  font-size: 0.875rem;
  text-align: right;
  min-width: 32ch;
  max-width: 25%;
  flex-grow: 1;
}

.link {
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  overflow: hidden;

  color: var(--link-color);
  border: solid 1px transparent;
  border-left: none;
  filter: grayscale(1);
  opacity: var(--link-opacity);
}

.link:first-child {
  margin-top: 0.5rem;
}

.link,
.link:visited {
  color: inherit;
}

.link:hover,
.link:active {
  border-color: var(--link-border-color);
  background: linear-gradient(90deg, transparent, var(--link-background-color));
  font-weight: bold;
  filter: grayscale(0);
  opacity: 1;
}

.icon {
  max-width: 1rem;
  min-width: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  margin-left: 0.5rem;
}

h1.heading {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-color);
  display: inline-block;
  background-color: var(--title-background-color);
  border: solid thin var(--title-border-color);
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  transition: padding ease 0.3s;
  transition-delay: 1s;
  will-change: padding;
}

h2.heading,
h3.heading,
h4.heading,
h5.heading,
h6.heading {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--title-color);
  text-decoration: underline;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  transition: padding ease 0.3s;
  transition-delay: 1s;
  will-change: padding;
}
